<%- include("partials/header.ejs") %>

<ul class="fileListing">
  <% files.forEach(file => { %>
  <li><%- include("partials/fileCard.ejs", {file})%></li>
  <% }) %>
</ul>

<%- include("partials/footer.ejs") %>
