<%- include("partials/header.ejs") %>

<div>
  <h1>Update file for Part <%= id %></h1>
  <form method="PUT" action=<%= `/files/update/${id}` %> >
    <label>
      <span>Customer ID</span>
      <input type="text" name="customer" id="customer" />
    </label>
    <label>
      <span>Description</span>
      <input type="text" name="description" id="description" />
    </label>
    <label>
      <span>Revision Number</span>
      <input type="text" name="addlDesc" id="addlDesc" />
    </label>
    <label>
      <span>Colors (front)</span>
      <input type="text" name="minOrderQty" id="minOrderQty" />
    </label>
    <label>
      <span>Colors (back)</span>
      <input type="text" name="maxOrderQty" id="maxOrderQty" />
    </label>
    <label>
      <span>Ink Requirements</span>
      <input type="text" name="briefDescription" id="briefDescription" />
    </label>
		<label>
			<span>Preview Image</span>
			<input type="file" name="thumbnail" id="thumbnail" />
		</label>
    <label>
      <span>New Print File</span>
      <input type="file" name="document" id="document" />
    </label>
    <button>Submit Changes</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>
