*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1rem;
}

h2 {
  color: blue;
  line-height: 1.25;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

input,
select {
  font: inherit;
  padding: 4px 8px;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.buttonGroup {
  display: flex;
  gap: 24px;
}

.fileListing {
  display: grid;
  gap: 16px;
  margin-top: 36px;
}

.fileCard {
  gap: 24px;
  background: #eee;
  padding: 16px;
}

@media (min-width: 600px) {
  .fileCard {
    display: flex;
  }
}

.fileCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fileCardImage {
  width: 200px;
  border: 1px solid #ddd;
}

.fileCardContent .buttonGroup {
  margin-top: auto;
}
