*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1rem;
}

h2 {
  color: blue;
  line-height: 1.25;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

input,
select {
  font: inherit;
  padding: 4px 8px;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

.buttonGroup {
  display: flex;
  gap: 24px;
}

.fileListing {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 16px;
  margin-top: 36px;
}

@media (min-width: 800px) {
  .fileListing {
    grid-template-columns: 1fr 1fr;
  }
}

.fileCard {
  gap: 24px;
  background: #fff;
  border: 1px solid black;
  padding: 16px;
  height: 100%;
}

@media (min-width: 600px) {
  .fileCard {
    display: flex;
  }
}

.fileCardContent {
  display: flex;
  flex-direction: column;
}

.fileCardContent > * + * {
  margin-top: 0.5rem;
}

.fileCardImage {
  width: 200px;
}

.fileCardContent .buttonGroup {
  margin-top: auto;
}
